<launch>

<arg name="video_device" default="/dev/video0" />
<arg name="image_width" default="960" />
<arg name="image_height" default="720" />

<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
<param name="video_device" value="$(arg video_device)" />
<param name="image_width" value="$(arg image_width)" />
<param name="image_height" value="$(arg image_height)"/>
<param name="pixel_format" value="mjpeg" />
<param name="camera_frame_id" value="usb_cam" />
<param name="io_method" value="mmap"/>
</node>

<!-- launch 2 auto_aruco_marker_finder with topic suffix id100 and id101  -->
    
<group ns="id100">
    <include file="$(find auto_aruco_marker_finder)/launch/aruco_marker_finder.launch">
    <arg name="markerId" value="100"/>
    </include>
</group>
<group ns="id101">
    <include file="$(find auto_aruco_marker_finder)/launch/aruco_marker_finder.launch">
    <arg name="markerId" value="101"/>
    </include>
</group>
<group ns="id102">
    <include file="$(find auto_aruco_marker_finder)/launch/aruco_marker_finder.launch">
    <arg name="markerId" value="102"/>
    </include>
</group>
<group ns="id125">
    <include file="$(find auto_aruco_marker_finder)/launch/aruco_marker_finder.launch">
    <arg name="markerId" value="125"/>
    </include>
</group>
<group ns="id500">
    <include file="$(find auto_aruco_marker_finder)/launch/aruco_marker_finder.launch">
    <arg name="markerId" value="500"/>
    </include>
</group>
<group ns="id501">
    <include file="$(find auto_aruco_marker_finder)/launch/aruco_marker_finder.launch">
    <arg name="markerId" value="501"/>
    </include>
</group>
<group ns="id502">
    <include file="$(find auto_aruco_marker_finder)/launch/aruco_marker_finder.launch">
    <arg name="markerId" value="502"/>
    </include>
</group>
<group ns="id503">
    <include file="$(find auto_aruco_marker_finder)/launch/aruco_marker_finder.launch">
    <arg name="markerId" value="503"/>
    </include>
</group>
<group ns="id504">
    <include file="$(find auto_aruco_marker_finder)/launch/aruco_marker_finder.launch">
    <arg name="markerId" value="504"/>
    </include>
</group>
<group ns="id505">
    <include file="$(find auto_aruco_marker_finder)/launch/aruco_marker_finder.launch">
    <arg name="markerId" value="505"/>
    </include>
</group>
</launch>
